@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap');

body {
  position: relative;
}

.App {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page {
  width: 40%;
  margin: 0 auto;
  height: 45%;
  padding: 10rem;
  border-radius: 10px;
  &-title h1 {
    text-align: center;
  }

  &-control {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

.container{
  background: white;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.page-title {
  font-size: 12px;
  font-weight: bold;
}

.page-body {
  font-size: 12px;
}

.bg-image {
  background-image: url("../images/bg.png");
  background-size: contain;
}

.cname {
  width: 30%;
  height: auto;
}

.highlights {
  background: #085696;
  display: inline-block;
  font-size: 18px;
  width: auto;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}

.btn-start {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.btn-start > a {
  color: #085696;
}

.play-again {
  color: #085696;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
}

.quiz-container {
  height: auto;
  border-radius: 10px;
  text-align: center;
}

.logo {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  padding-right: 20px;
}

.page-category {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: contents;
}

.flex-row > h3 {
  width: 90%;
  padding-left: 5%;
  z-index: 1000;
}

.flex-row > p {
  font-weight: bold;
  width: 30%;
}

hr {
  border-top: white;
  height: 1px;
}

.questions {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 20px 10px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn-true {
  color: white;
  background: #4fbd1b;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}


.btn-false {
  color: white;
  background: #e04e10;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.btn-custom {
  color: white;
  background: #085696;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.icons {
  font-size: 18px;
  vertical-align: middle;
}

.score-section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score-section > h2, .score-section > h4 {
  margin: auto;
}

.lists {
  margin: 0 auto;
  padding: 10px 10px;
  display: block;
  text-align: left;
}

.lists > li {
  padding: 15px 15px;
  border-bottom: 1px solid rgba(243, 239, 239, 0.562);
}

.lists > h5 {
  display: flex;
  margin: 0;
}